.div{
    margin-top: 50px;
}
#btna{
    margin-top: 50px;
}

.sep{
    margin: 4px;
    font-size: medium;
}

.err{
    color: red;
    font-size: larger;
    margin-top: -5px;
}
.checkB{
    margin: 5px;
}