.div {
  color: rgba(209, 209, 209, 0.762);
  text-align: center;
  background-color: #141428d6;
  width: 100%;
  height:100vh;
}

.tarjetaActividad{
  text-align: center;
  display: inline-block;
  vertical-align: top ;
  background-color: rgba(79, 134, 181, 0.231);
  border-radius: 50px;
  margin: 15px;
  color: beige;
  height: 225px;
  width: 250px;
}

.btnd{
  min-width: 75px;
  height: 40px;
  padding: 5px 5px;
  transition: all 0.3s ease;
  outline: none;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #b32424;
}
.btnd:hover{
  background-color: #842424
}
.btnd:active{
  height: 5vmin;
}
