.paginado{
  width: 100%;
}
.number {
  text-align: center;
  display: inline-block;
  vertical-align: top ;
  list-style: none;
  margin: 6px;
  color: rgba(172, 172, 172, 0.905);
  background-color: rgba(56, 56, 56, 0.627);
  font-size: 1.2em; 
  padding: 9px;
  border-radius: 5px;
}
.number:hover {
  background-color: rgba(10, 10, 10, 0.643);
}
